<section class="footer">
    <section class="cards-container">
        <app-business-card
            class="flex-1"
            [summary]="isaacSummary"
            profilePicUrl="isaac-profile-pic-smaller.PNG"
            name="Isaac Nunez Garcia"
            title="Software Engineer"
            email="inunez.dev@gmail.com"
            linkedin="isaac-nunez"
            github="nunez85"></app-business-card>

        <app-business-card
            class="flex-1"
            [summary]="heidiSummary"
            profilePicUrl="heidi-profile-pic-smaller.PNG"
            name="Heidi Han"
            title="Artist, Designer, Illustrator, Photographer"
            email="hidden415@gmail.com"
            instagram="SenseH47"></app-business-card>
    </section>
</section>
