<section class="footer">
    <section class="flex">
        <app-business-card
            class="flex-1"
            profilePicUrl="isaac-profile-pic-smaller.PNG"
            name="Isaac Nunez Garcia"
            title="Software Engineer"
            email="inunez.dev@gmail.com"
            linkedin="isaac-nunez"
            github="nunez85"></app-business-card>

        <app-business-card
            class="flex-1"
            profilePicUrl="heidi-profile-pic-smaller.PNG"
            name="Heidi Han"
            title="Designer"
            email="hidden415@gmail.com"
            instagram="SenseH47"></app-business-card>
    </section>
</section>
