.footer {
    width: 90%;
    padding: 32px 0;
    background-color: var(--primary);
    margin: auto;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        padding-top: 200px;
    }
}
