.business-card {
    width: 500px;
    min-width: 300px;
    min-height: 270px;
    background-color: var(--card-background);
    margin-bottom: 32px;
    border-radius: 10px;

    &:first-of-type {
        margin-right: auto;
    }

    &:last-of-type {
        margin-left: auto;
    }

    .contact-info {
        padding: 16px;
    }

    img {
        margin-left: auto;
    }

    .contact-info {
        div {
            display: flex;
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            align-items: center;
        }
        mat-icon {
            margin-right: 8px;
        }

        img {
            margin-top: 8px;
            margin-right: 8px;
        }
    }
}

@media screen and (max-width: 600px) {
    .business-card {
        width: 342px;
    }
}
