.business-card {
    width: 500px;
    min-width: 300px;
    min-height: 270px;
    background-color: var(--card-background);
    margin-bottom: 32px;

    &:first-of-type {
        margin-right: auto;
    }

    &:last-of-type {
        margin-left: auto;
    }

    .contact-info {
        padding: 16px;
    }

    img {
        margin-left: auto;
    }

    .contact-info {
        div {
            display: flex;
            align-items: center;
        }
        mat-icon {
            margin-right: 8px;
        }

        img {
            margin-top: 8px;
            margin-right: 8px;
        }
    }
}

@media screen and (max-width: 600px) {
    .business-card {
        width: 400px;
    }
}
