mat-card {
    padding: 16px;
}

/* Create four equal columns that floats next to each other */

button {
    width: 100%;
}

mat-form-field {
    width: 25%;
    padding-right: 16px;

    &:last-of-type {
        padding-right: 0;
    }
}

@media screen and (max-width: 992px) {
    mat-form-field {
        width: 50%;

        &:nth-of-type(2n) {
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    mat-form-field {
        padding: 0;
        width: 100%;
    }
}
