.connect-container {
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #be6b21;
    // background-color: #DF4E2F;
    // background-color: #ABAFE0;
    // background-color: #F4A5B0;
    // background-color: #57BD92;
    border: 2px solid pink;
    padding: 8px;
    place-content: center;
}
.box {
    height: 100px;
    width: 100px;
    margin: 4px;
    border: 1px solid greenyellow;
    background-color: #abafe0;
    border-radius: 50%;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .box {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 600px) {
    .box {
        height: 32px;
        width: 32px;
    }
}

@media screen and (max-width: 400px) {
    .box {
        height: 32px;
        width: 32px;
    }
}
