.connect-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #be6b21;
    // background-color: #DF4E2F;
    // background-color: #ABAFE0;
    // background-color: #F4A5B0;
    // background-color: #57BD92;
    border: 2px solid pink;
    padding: 8px;
    place-content: center;
}
.box {
    height: 100px;
    width: 100px;
    margin: 4px;
    border: 1px solid greenyellow;
    background-color: #abafe0;
    border-radius: 50%;
    margin: auto;
}
