@use '@angular/material' as mat;

html,
body {
    height: 100%;
    overflow: hidden;
}

#main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
:root {
    --primary: hsl(28, 70%, 44%);
    --secondary: #ffffff;
    --navigation-background: lightcoral;
    --card-background: darkkhaki;
    --pink: lightcoral;
}

@font-face {
    font-family: 'copyduck';
    src: url('assets/fonts/copyduck.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$copyduck-typography: mat.define-typography-config(
    $font-family: 'copyduck',
);

@include mat.card-typography($copyduck-typography);

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'copyduck';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-space-between {
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-gap: 16px;
    background-color: gray;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;

    div {
        border: 1px solid black;
        height: 10px;
    }
}

.grid-template-columns-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-template-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-template-columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-template-columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-template-columns-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.margin-16 {
    margin: 16px;
}

.win-snackbar {
    background: #2196f3;
}

.mat-mdc-snack-bar-container {
    &.win-snackbar {
        --mdc-snackbar-container-color: rgb(79, 69, 69);
        --mat-snack-bar-button-color: yellow;
        --mdc-snackbar-supporting-text-color: white;
        --mdc-snackbar-supporting-text-font: 'copyduck';
    }
}

.soft {
    color: #0000008a;
}
