@font-face {
    font-family: 'copyduck';
    src: url('assets/fonts/copyduck.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'copyduck';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2 {
    font-family: 'copyduck';
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-space-between {
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-gap: 16px;
    background-color: gray;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;

    div {
        border: 1px solid black;
        height: 10px;
    }
}

.grid-template-columns-2 {
    grid-template-columns: 1fr 1fr;
}
.grid-template-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-template-columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-template-columns-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-template-columns-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.win-snackbar {
    background: #2196f3;
}

.mat-mdc-snack-bar-container {
    &.win-snackbar {
        --mdc-snackbar-container-color: rgb(79, 69, 69);
        --mat-snack-bar-button-color: yellow;
        --mdc-snackbar-supporting-text-color: white;
        --mdc-snackbar-supporting-text-font: 'copyduck';
    }
}
